.list {
  width: 700px;
  height: 350px;
  margin: 200px auto;
}
.list li {
  width: 300px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  background: #ffffff;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.list li .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -150px;
  left: 0;
  background: #f00;
}
.list .in-top .mask {
  -webkit-animation: intop 0.3s 1;
          animation: intop 0.3s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes intop {
  0% {
    top: -150px;
    left: 0;
  }
  100% {
    top: 0px;
    left: 0;
  }
}
@keyframes intop {
  0% {
    top: -150px;
    left: 0;
  }
  100% {
    top: 0px;
    left: 0;
  }
}
.list .out-top .mask {
  -webkit-animation: outtop 0.3s 1;
          animation: outtop 0.3s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes outtop {
  0% {
    top: 0px;
    left: 0;
  }
  100% {
    top: -150px;
    left: 0;
  }
}
@keyframes outtop {
  0% {
    top: 0px;
    left: 0;
  }
  100% {
    top: -150px;
    left: 0;
  }
}
.list .in-left .mask {
  -webkit-animation: inleft 0.3s 1;
          animation: inleft 0.3s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes inleft {
  0% {
    top: 0px;
    left: -300px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes inleft {
  0% {
    top: 0px;
    left: -300px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
.list .out-left .mask {
  -webkit-animation: outleft 0.3s 1;
          animation: outleft 0.3s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes outleft {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: -300px;
  }
}
@keyframes outleft {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: -300px;
  }
}
.list .in-right .mask {
  -webkit-animation: inright 0.3s 1;
          animation: inright 0.3s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes inright {
  0% {
    top: 0px;
    left: 300px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes inright {
  0% {
    top: 0px;
    left: 300px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
.list .out-right .mask {
  -webkit-animation: outright 0.3s 1;
          animation: outright 0.3s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes outright {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 300px;
  }
}
@keyframes outright {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 300px;
  }
}
.list .in-bottom .mask {
  -webkit-animation: inbottom 0.3s 1;
          animation: inbottom 0.3s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes inbottom {
  0% {
    top: 150px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes inbottom {
  0% {
    top: 150px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
.list .out-bottom .mask {
  -webkit-animation: outbottom 0.3s 1;
          animation: outbottom 0.3s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes outbottom {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 150px;
    left: 0px;
  }
}
@keyframes outbottom {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 150px;
    left: 0px;
  }
}
